html,
body {
    font-family: "Lato, Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #f6f7f8;
    height: auto;
    overflow: scroll;
}

a {
    color: #333333;
    margin-left: 10px;
    text-decoration: none
}

a:hover {
    color: #4169e1;
}


h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 400;
}

section {
    margin-bottom: 48px;
}

P {
    color: #666666;
}

@page {
    size: A4 portrait;
    margin: 0.5cm;
}


@media print {

    body {
        width: 100%;
        margin: 0;
        float: none;
        line-height: 1.5;
        font-size: 12pt;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        page-break-inside: avoid
    }

    h1+p,
    h2+p,
    h3+p {
        page-break-before: avoid;
    }

    img {
        page-break-after: avoid;
        page-break-inside: avoid;
        max-width: 100%;
    }

    ul,
    ol,
    dl {
        page-break-before: avoid;
    }
}